* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel-item {
  width: 200px;
}
.next {
  margin-top: 150px;
}

  @media screen and (max-width: 991px) {
    .next{
      color: darkred;
      margin-top: 250px;
      display: block;
      text-align: center;}
      .next .title{
        font-size: 35px;
      }
        /* flex-direction: column; */
   
}
@media screen and (max-width: 770px) {
  .next{
    margin-top: 240px;
      /* flex-direction: column; */
 
}
.next1 {
  background-color: #1f0040;
  color: white;
}
.container-fluid .next2 {
  width: 100%;
  height: 500px;
  background-image: url(img/pink1.jpg);
  background-size: 100%;
  background-position: bottom center;
}
.next3 {
  width: 100%;
  height: 500px;
  background-image: url(img/pink2.jpg);
  background-size: 100% 100%;
  position: relative;
}
.win {
  background-color: #190033;
}
.next .title {
  font-size: 50px;
  line-height: normal;
  font-weight: bold;
}
/* @media screen and (max-width:1000px){
  .title1 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bolder;
}
} */

.circle {
  width: 50px;
  border-radius: 50%;
  background-color: grey;
  padding: 10px 20px;
}
.circle1 {
  width: 35px;
  text-align: center;
  background-color: #cf63b8;
  border-radius: 50%;
}
/* .circle2{
    width: 50px;
    border-radius:50%;
    background-image: url(img/profile-img.jpg);
    object-fit: cover;    
} */
/* .col-8 .text-danger .my-4{
    margin-top: 100px;
} */
.position-absolute {
  box-shadow: 5px 10px 18px #888888;
  left: 7%;
  bottom: -10%;
}
.next4 {
  padding-top: 150px;
}
.next5 {
  width: 100%;
  height: auto;
  background-image: url(img/pink3.jpg);
  background-size: 100%;
  background-position: bottom center;
}
.line {
  width: 100%;
  height: 1px;
  background-color: grey;
}
